
.ColourChoiseMenu {
    position:absolute;
    right: 150px;
    top: 82px;
    background-color: #fff;
    padding-left: 20px;
}
.ColorChoiseList {
    display: flex;
    justify-content: right;
}

.ColorChoiseItem {
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.ColorChoiseIco {
    height: 20px;
    width: 20px;
}

.ColorButton {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
}