.GlassesHead {
    display: flex;
    align-items: center;
    border: 1px solid #000;
}

.pageName {
    height: 40px;
    width: 400px;
    border-right: 1px solid #000; 
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(50vw - 200px);
}

.ColourChoiseMenu {
    position:absolute;
    right: 150px;
    top: 82px;
    background-color: #fff;
    padding-left: 20px;
}
.ColorChoiseList {
    display: flex;
    justify-content: right;
}

.ColorChoiseItem {
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.ColorChoiseIco {
    height: 20px;
    width: 20px;
}

.ColorButton {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
}