.GlassesHead {
    display: flex;
    align-items: center;
    border: 1px solid #000;
}

.pageName {
    height: 40px;
    width: 400px;
    border-right: 1px solid #000; 
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(50vw - 200px);
}