.ProductName {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.ColorChoise {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.ColorImg {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid #000;
}

.GlassesCard {
  align-items: stretch;
  text-align: center;
  box-sizing: border-box;
  display: block;
  border: solid 1px;
  margin: 0;
  padding: 0;
  width: calc(100vw / 3);
  overflow: hidden;
}

.GlassesIMG {
  display: block;
  width: 451px;
}
