.ProductName {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.ColorChoise {
  display: flex;
}

.ColorImg {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #000;
}

.GlassesCard {
  box-sizing: border-box;
  display: block;
  border: solid 1px;
  margin: 0;
  padding: 0;
  width: calc(100vw / 3);
}
/* 
.GlassesCard:nth-child(3n) {
  margin-right: 0px;
} */
