li.hasChildren > a {
  position: relative;
}

li.hasChildren > a:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 1rem;
  background: inherit;
  z-index: 999;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.NavMenu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.menuItems {
  position: relative;
  font-size: 14px;
  height: 40px;
  margin: 0;
}


.Items a {
  display: block;
  font-size: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

.menuItems button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

button span {
  margin-left: 3px;
}

.menuItems > a,
.menuItems button {
  text-align: left;
  padding: 0.5rem 1rem;
}

.menuItems a:hover,
.menuItems button:hover {
  background-color: #000;
  color: #fff;
}
.dropdown {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
  min-width: 10rem;
  padding: 0;
  list-style: none;
  background-color: #fff;
  display: none;
  height: 50vh;
}

.dropdown.show {
  display: block;
}

.dropdown.dropdownSubmenu {
  position: absolute;
  left: 100%;
  top: 0px;
  padding: 10px;
}

.submenu {
  position: fixed;
  top:40px;
}
