
.ShapeChoiseMenu {
    position:relative;
    background-color: #fff;
    padding-left: 20px;
}
.ShapeChoiseList {
    display: flex;
    flex-wrap:nowrap;
    justify-content: right;
    margin: 0;
}
.ShapeName {
    font-weight: 700;
}

.ShapeChoiseItem {
    min-width: 70px;
    margin-right: 20px;
}

.ShapeChoiseIco {
    height: 20px;
    width: 20px;
}

.ShapeButton {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
}