.MenuButton {
    border-right: 1px solid #000;
    border: 0px;
}

.DropDownMenu {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50vw;
    padding: 0;
    margin:0;
    /* height: calc(30vh - 40px); */
    top: 40px;
    z-index: 10;
}

.ItemButton {
    padding: 10px;
    width: 100%;
}

.MenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.ItemButton:hover  {
    background-color: #000;
    color: #fff;
}

.SecondMenuItem {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin:0;
    top: 40px;
    border: 1px solid #000;
}

.SecondMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

.SecondMenuButton:hover {
    background-color: #000;
    color: #fff;
}


li.hasChildren > a {
    position: relative;
}

li.hasChildren > a:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1rem;
    background: inherit;
    z-index: 999;
}