.App {
  text-align: center;
}

.AppLink {
  color: #61dafb;
}

.Button {
  border: 0px;
  border-right: 1px solid #000;
  width: 144px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}